<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-Application :: - PDF</title>


</head>
<body>

    <!--lOGO SECTION-->
    <div class="logoNai" style="text-align: center;" >
        <img style="width: 100px;height:100px;" src="C:\Users\user\Documents\Django\pdfTest\Static\Nairobi.jpg" alt="">
    </div>

    <br>
    <br>
    <hr style="background-color:#013D1E;" >
    <br>

    <!--User Image-->
    <div class="thImg" style="text-align: center;" >
        <img style="width: 200px;" src="{{userPic}}" alt="">
    </div>

    <!--Space Create-->
    <br>
    <hr style="background-color:#013D1E;" >
    <br>

    <!--Space Create-->

    <!--Details-->
    <div class="det" style="font-size: 17px;font-weight:100;text-align: center;color:#013D1E;" >
        <span>{{full_name}}</span><br><br>
        <span>AT-{{nat_id}}</span><br><br>
        <span>{{institute}}</span><br><br>
        <span>{{course}}</span><br><br>
        <span>{{email}}</span><br><br>
        <span>{{phone}}</span>
    </div>

    <!--Space Create-->
    <br>
    <hr style="background-color:#013D1E;" >
    <br>

    <h1 style="text-align: center;font-size:23px;color:#269B24;" >YOU HAVE BEEN ACCEPTED</h1>

    <hr style="background-color:#013D1E;" >
    <br>

    <h2 style="font-size: 15px;color:#013D1E;" >Report Date</h2>
    <span style="font-size: 15px;color:#013D1E;" >{{today}}</span>

    <h2 style="font-size: 15px;color:#013D1E;" >Venue</h2>
    <span style="font-size: 15px;color:#013D1E;" >Main City Hall, HRD, 4th Floor</span>

</body>
</html>