* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Roboto', sans-serif;
}

/* Tabs Color */

.tab4 {
    background-color: #013D1E;
    color: white;
}

/* Heading */

.psDiv {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Heading */
.psDiv h3 {
    color: #013D1E;
    font-size: 27px;
}

/* The whole Form */

.eduForm {
    width: 100%;
    height: 750px;
}

.eduForm form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

/* All Sections */

.allSec {
    width: 100%;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/* Individual Sections */

.sec1 {
    width: 400px;
    height: 500px;
}


/* Sect head */

.sec1 h4 {
    text-align: center;
    padding: 10px;
    color: #013D1E;
}

/* Input section Sec */
.inpUn {
    width: 100%;
    height: 450px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}

.inpUn span {
    color: #013D1E;
}

.inpUn input {
    width: 320px;
    height: 50px;
    outline: none;
    border-radius: 10px;
    border: 2px solid #013D1E;
}

.inpUn input::placeholder {
    font-size: 16px;
    color: #013D1E;
    opacity: 0.6;
}

/* Input Fonts */

input[type=text], input[type=date]{
    padding-left: 10px;
    font-size: 16px;
    color: #013D1E;
}

/* Date Divs */

.dateP,.dropForm {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.dateP input {
    cursor: pointer;
}


/* Dropdown Menu */

/* Changing Drop down font */
select#id_level {
    font-size: 16px;
    color: #013D1E;
    outline: none;
    border: 2px solid #013D1E;
    border-radius: 10px;
}

.dropForm select {
    width: 300px;
    height: 50px;
}

/* Control Buttons */

.butt {
    margin-bottom: 30px;
}

/* Upload Button Style */

.fileUpl {
    width: 300px;
    height: 120px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.TheBtUp {
    min-width: 300px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.butUp {
    min-width: 160px;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 2px solid #013D1E;
    border-radius: 10px;
    font-size: 17px;
    color: #013D1E;
    background-color: white;
    cursor: pointer;
    transition: transform .6s;
}

#id_kcse_file,#id_kcpe_file {
    display: none;
}

.butUp:hover {
    transform: scale(1.1);
}


/* File Icon */

#file {
    font-size: 24px;
}

/* File Name */

.TheBtUp p {
    margin-left: 10px;
    color: #013D1E;
}

.fileUpl {
    font-weight: 500;
    font-size: 18px;
    margin-left: 10px;
    color: #013D1E;
}

/* Submit button */

/* When Active */

.active {
    width: 180px;
    height: 45px;
    font-size: 18px;
    outline: none;
    border: none;
    border-radius: 45px;
    background-color: #013D1E;
    color: antiquewhite;
    cursor: pointer;
    transition: transform .6s;
    margin-top: 20px;
}

.active:hover {
    transform: scale(1.1);
}

/* When Inactive */

.inactive {
    width: 180px;
    height: 45px;
    font-size: 18px;
    outline: none;
    border: none;
    border-radius: 45px;
    background-color: #d4d4d4;
    color: antiquewhite;
    margin-top: 20px;
}

/* The controls */

.contIc1,.contIc2 {
    width: 45px;
    height: 45px;
    border-radius: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: transform .6s;
}

.contIc2:hover {
    transform: scale(1.3);
}

.contIc1 {
    border: 3px solid #4D5BDD;
}

.contIc2 {
    border: 3px solid #DD4D4D;
}

/* Icons themselves */
#refresh,#canc {
    font-size: 25px;
}

#refresh {
    color: #4D5BDD;
}

.rotate {
    -webkit-animation:spin 0.5s linear infinite;
    -moz-animation:spin 0.5s linear infinite;
    animation:spin 0.5s linear infinite;
}

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}
@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}
@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform:rotate(360deg);
    }
}

#canc {
    color: #DD4D4D;
}
 
.flexContr {
    width: 180px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}


@media screen and (max-width: 1000px){

    .eduForm {
        height: inherit;
    }

    .allSec {
        flex-direction: column;
        height: inherit;
    }
    
}

@media screen and (max-width: 500px){

    .psDiv h3 {
        font-size: 22px;
    }
   
}


@media screen and (max-width: 290px){

    .psDiv h3 {
        font-size: 18px;
    }

    .sec1 {
        width: 270px;
    }

    .inpUn input {
        width: 260px;
    }
   
    .dropForm select{
        width: 260px;

    }

    .fileUpl {
        width: 270px;
    }

    .TheBtUp {
        min-width: 270px;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .butUp {
        min-width: 140px;
        height: 40px;
        font-size: 15px;
    }

    #kcseFileName {
        font-size: 17px;
    }
}

