* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Roboto', sans-serif;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* Tabs Color */

.tab2 {
    background-color: #013D1E;
    color: white;
}

/* Heading */

.psDiv {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Heading */
.psDiv h3 {
    color: #013D1E;
    font-size: 27px;
}

/* Pop Up Head */

.suss {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #DD4D4D;
}


/* Kin Form */

.kFor {
    width: 100%;
    height: 550px;
}

.kFor form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Kin inputs */

.kinP {
    width: 300px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.kinP input {
    width: 100%;
    height: 50px;
    outline: none;
    border: 2px solid #013D1E;
    border-radius: 10px;
}

/* Input Fonts */

input[type=text],input[type=email] ,input[type=number] {
    padding-left: 10px;
    font-size: 18px;
    color: #013D1E;
}

.kinP span {
    font-weight: 500;
    font-size: 18px;
    margin-left: 10px;
    color: #013D1E;
}

.butt {
    margin-top: 20px;
}

/* Buttons */

/* When Active */

.active {
    width: 180px;
    height: 45px;
    font-size: 18px;
    outline: none;
    border: none;
    border-radius: 45px;
    background-color: #013D1E;
    color: antiquewhite;
    cursor: pointer;
    transition: transform .6s;
    margin-top: 20px;
}

.active:hover {
    transform: scale(1.1);
}

/* When Inactive */

.inactive {
    width: 180px;
    height: 45px;
    font-size: 18px;
    outline: none;
    border: none;
    border-radius: 45px;
    background-color: #d4d4d4;
    color: antiquewhite;
    margin-top: 20px;
}

/* The controls */

.contIc1,.contIc2 {
    width: 45px;
    height: 45px;
    border-radius: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: transform .6s;
}

.contIc2:hover {
    transform: scale(1.3);
}

.contIc1 {
    border: 3px solid #4D5BDD;
}

.contIc2 {
    border: 3px solid #DD4D4D;
}

/* Icons themselves */
#refresh,#canc {
    font-size: 25px;
}

#refresh {
    color: #4D5BDD;
}

#canc {
    color: #DD4D4D;
}
 
.flexContr {
    width: 180px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.rotate {
    -webkit-animation:spin 0.5s linear infinite;
    -moz-animation:spin 0.5s linear infinite;
    animation:spin 0.5s linear infinite;
}

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}
@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}
@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform:rotate(360deg);
    }
}