* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

/* The whole section */

.allSuc {
    width: 100%;
    height: 100vh;
}

/* Logout and Status */

.HED {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/* Status  */

.sts {
    width: 250px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 2px solid #013D1E;
    border-radius: 10px;
    transition: transform .6s;
}

.sts span {
    color: #013D1E;
}

.sts h2 {
    color: #1BBDB3;
}

/* LogOut Button */

.logUt a {
    width: 200px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 20px;
    border: 2px solid #DD4D4D;
    color: #DD4D4D;
    border-radius: 10px;
    transition: transform .6s;
}

.logUt a:hover {
    transform: scale(1.1);
}


/* Details Of Applicant */

.details {
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-top: 2px solid #e7e7e7;
    border-bottom: 2px solid #e7e7e7;
}

/* Item Detail */

.mDet {
    width: 400px;
    height: 120px;
}

.mDet h2 {
    color: #0F790D;
}

/* Label and Icon */
.detN {
    width: 100%;
    height: 55px;
    display: flex;
    align-items: center;
}

.detN h3 {
    margin-left: 20px;
    color: #013D1E;
}

#detIc {
    font-size: 25px;
    color: #013D1E;
}

/* PDF Instructions */

.inst {
    width: 100%;
    height: 220px;
}

.theIn {
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.inNum {
    width: 500px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/* Pdf Section */

.pdfPl {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid #e7e7e7;
}

.view,.download {
    width: 170px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 50px;
    margin: 30px;
    
}

.download {
    border: 2px solid #0F790D;
    color: #0F790D;
}

.view {
    border: 2px solid #0D5F79;
    color: #0D5F79;
}

.view span,.download span {
    font-size: 18px;
    font-weight: 500;
}

#down,#down1 {
    font-size: 20px;
}



/* Success Message */

.message {
    width: 100%;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    color: #DD804C;
}


#succ {
    font-size: 40px;
}

/*RESPONSIVENESS*/

@media screen and (max-width: 700px){

    .HED {
        height: 180px;
        flex-direction:column-reverse;
    }
    
    .detN {
        width: 100%;
        justify-content: center;
        align-items: center;

    }

    .mDet {
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        display: flex;

    }

    .message {
        height: 200px;
    }

    #succ {
        font-size: 60px;
    }

    .message h1{
        font-size: 20px;
    }
}

@media screen and (max-width: 500px){
    .mDet h2{
        font-size: 20px;
    }
}

@media screen and (max-width: 300px){

    .message h1{
        font-size: 18px;
    }

    .mDet h2{
        font-size: 16px;
    }

}