{% extends "dashFolder/inhDash.html" %}
{% load static %}

 <!--Head For Other Pages-->
 {% block extra_head %}

 <title>E-Application :: - All Applicants</title>
 
 <link rel="stylesheet" href="{% static '/Css/allApplicants.css' %}">

 {% endblock %}

<!--Dashboard Lable-->

{% block dashHead %}

                All Applicants

{% endblock %}



<!-- The Rest of The Content -->

{% block content %}

<div class="serach">

    <div class="seInp">

        <form action="">

            <input type="text" placeholder="Search National ID" id="sechInp" onkeyup="myFunction()" > 


        </form>

        <!--Filtering with id-->

        <script>

            //Using Id as filter
            function myFunction(){

                let allDivs = document.getElementsByClassName('searchIDUs');
                let textValue;
                let theInId = document.getElementById('sechInp').value;

                let filterIt = document.getElementsByClassName('filterIt');

                for (let i = 0; i < allDivs.length; i++) {
                    console.log(allDivs[i].innerHTML);
                    //You can use innerHTML or textContent according to your need

                    textValue = allDivs[i].innerHTML  || allDivs[i].textContent

                    if(textValue.indexOf(theInId) > -1){

                        filterIt[i].style.display = "";

                    }
                    else{

                        filterIt[i].style.display = "none";

                    }

                }

            }

            


        </script>

    </div>

</div>


<!--aLL content-->

<div class="allItem">

    <!--Individual content-->

    {% for applicants in allApplicant %}

    <div class="indiv filterIt"  >

        <!--Picture and icon-->
        <div class="picIc">

            <div class="tPic">
                <img src="{% static '/Images/imgs/user.jpg' %}" alt="">
            </div>

            <!--Icon info-->
            <div class="info">
                <div id="info">
                    <i class="fas fa-solid fa-info"></i>
                </div>
            </div>

        </div>

        <!--Details-->
        <div class="detail">


            <!--Specific Item Name-->
            <div class="infItm">

                <!--Lable and Icon-->
                <div class="labIc">
                    <div id="labIc">
                        <i class="fas fa-solid fa-user"></i>
                    </div>
                    <h6>Name</h6>
                </div>

                <h3>{{applicants.application.full_name}}</h3>

            </div>

            <!--Specific Item National Id-->
            <div class="infItm" >

                <!--Lable and Icon-->
                <div class="labIc">
                    <div id="labIc">
                        <i class="fas fa-solid fa-id-card"></i>
                    </div>
                    <h6>National ID</h6>
                </div>

                <h3 class="searchIDUs" >{{applicants.application.nat_id}}</h3>

            </div>

            <!--Specific Item Institution-->
            <div class="infItm">

                <!--Lable and Icon-->
                <div class="labIc">
                    <div id="labIc">
                        <i class="fas fa-solid fa-envelope"></i>
                    </div>
                    <h6>Email</h6>
                </div>

                <h3>{{applicants.application.email}}</h3>

            </div>

        </div>

        <!--View Details-->

        <div class="outBtn">

            <a href="{% url 'applicantinfo' applicants.pk %}">

                <div class="btView">

                    <span>View Details</span>
                    <div id="view">
                        <i class="fas fa-solid fa-eye"></i>
                    </div>
            
                </div>

            </a>

        </div>


    </div>

    {% endfor %}
    <!--Paggation-->
    <div class="paggation">
        
    </div>


</div>


<!--Making our work easier-->
<style>

/* Color change */

/* Icon */
#Applicants {
    color: #0F790D;
}

.seInp input {
    border: 2px solid #0F790D;
    color: #0F790D;
}

.seInp input::placeholder {
    color: #0F790D;
    opacity: 0.5;
}

/* Icon Buuton */

.seInp button {
    border: 2px solid #0F790D;
}

#ser {
    color: #0F790D;
}

/* Individual Content */

.indiv {
    border: 2px solid #0F790D;

}

/* Icon info */

.info {
    border: 2px solid #0F790D;
}

#info {
    color: #0F790D;
}

/* The Item Lables */

.detail {
    border: 2px solid #0F790D;
}

.labIc h6 {
    color: #0F790D;
}

.infItm h3 {
    color: #0F790D;
}

#labIc {
    color: #0F790D;
}

.btView {
    background-color: #0F790D;
}

</style>


{% endblock %}