{% extends "dashFolder/inhDash.html" %}
{% load static %}

 <!--Head For Other Pages-->
 {% block extra_head %}

 <title>E-Application :: - ShortList</title>
 
 <link rel="stylesheet" href="{% static '/Css/allApplicants.css' %}">

 {% endblock %}

<!--Dashboard Lable-->

{% block dashHead %}

            Unverified

{% endblock %}



<!-- The Rest of The Content -->

{% block content %}

<div class="serach">

    <div class="seInp">

        <form action="">

            <input type="text" placeholder="Search National ID" id="sechInp" onkeyup="myFunction()" > 

        </form>

        <script>

            //Using Id as filter
            function myFunction(){

                let allDivs = document.getElementsByClassName('searchIDUs');
                let textValue;
                let theInId = document.getElementById('sechInp').value;

                let filterIt = document.getElementsByClassName('filterIt');

                //let Individual = document.querySelectorAll('.indiv');
                //let stateSh = document.querySelectorAll('.shortState');
                //let stateVr = document.querySelectorAll('.verState');

                for (let i = 0; i < allDivs.length; i++) {
                    console.log(allDivs[i].innerHTML);
                    //You can use innerHTML or textContent according to your need

                    textValue = allDivs[i].innerHTML  || allDivs[i].textContent

                   // textStateSh = stateSh[i].innerHTML;
                   // textStateVh = stateVr[i].innerHTML;


                    if(textValue.indexOf(theInId) > -1 ){

                        filterIt[i].style.display = "";

                    }
                    else{

                        filterIt[i].style.display = "none";

                    }

                }

            }

        </script>

    </div>

</div>


<!--aLL content-->

<div class="allItem ">

    <!--Individual content-->

    {% for allShort in allShorts %}

    <div class="indiv filterIt">

        <span style="display: none;" class="shortState" >{{allShort.state.shortlist}}</span>
        <span style="display: none;" class="verState" >{{allShort.state.verified}}</span>


        <!--State Logic-->

        <!--Picture and icon-->
        <div class="picIc">

            <div class="tPic">
                {% if allShort.upload.image_url %}
                    <img src="{{allShort.upload.image_url}}" alt="">
                {% else %}
                    <img src="{% static '/Images/imgs/profile.png' %}" alt="">
                {% endif %}
            </div>

            <!--Icon info-->
            <div class="info">
                <div id="info">
                    <i class="fas fa-solid fa-info"></i>
                </div>
            </div>

        </div>

        <!--Details-->
        <div class="detail">


            <!--Specific Item Name-->
            <div class="infItm">

                <!--Lable and Icon-->
                <div class="labIc">
                    <div id="labIc">
                        <i class="fas fa-solid fa-user"></i>
                    </div>
                    <h6>Name</h6>
                </div>

                <h3>{{allShort.application.full_name}}</h3>

            </div>

            <!--Specific Item National Id-->
            <div class="infItm">

                <!--Lable and Icon-->
                <div class="labIc">
                    <div id="labIc">
                        <i class="fas fa-solid fa-id-card"></i>
                    </div>
                    <h6>National ID</h6>
                </div>

                <h3 class="searchIDUs" >{{allShort.application.nat_id}}</h3>

            </div>

            <!--Specific Item Institution-->
            <div class="infItm">

                <!--Lable and Icon-->
                <div class="labIc">
                    <div id="labIc">
                        <i class="fas fa-solid fa-envelope"></i>
                    </div>
                    <h6>Email</h6>
                </div>

                <h3>{{allShort.application.email}}</h3>

            </div>

        </div>

        <!--View Details-->

        <div class="outBtn">

            <a href="{% url 'applicantinfo' allShort.pk %}">

                <div class="btView">

                    <span>View Details</span>
                    <div id="view">
                        <i class="fas fa-solid fa-eye"></i>
                    </div>
            
                </div>

            </a>

        </div>


    </div>

    {% endfor %}

    <!--Paggation-->
    <div class="pagination" id="pagination" >
        <li class="page-item previous-page disable" ><a class="page-link" href="">Prev</a></li>
        <li class="page-item current-page active" ><a class="page-link" href="">1</a></li>
        <li class="page-item dots" ><a class="page-link" href="">...</a></li>
        <li class="page-item current-page" ><a class="page-link" href="">5</a></li>
        <li class="page-item current-page" ><a class="page-link" href="">6</a></li>
        <li class="page-item dots" ><a class="page-link" href="">...</a></li>
        <li class="page-item current-page" ><a class="page-link" href="">10</a></li>
        <li class="page-item next-page" ><a class="page-link" href="">Next</a></li>
    </div>

    <script>

        //Pagination 

        function getPageList(totalPages,page,maxLength){

            function range(start,end){

                return Array.from(Array(end - start + 1),(_, i)=> i + start);

            }

            var sideWidth = maxLength < 9 ? 1 : 2;
            var leftWidth = (maxLength - sideWidth * 2 - 3) >> 1;
            var rightWidth = (maxLength - sideWidth * 2 - 3) >> 1;

            if(totalPages <= maxLength){
                return range(1, totalPages);
            }

            if(page <= maxLength - sideWidth - 1 - rightWidth){
                return range(1, maxLength - sideWidth - 1).concat(0,range(totalPages - sideWidth + 1, totalPages));

            }

            if(page >= totalPages - sideWidth - 1 - rightWidth){

                return range(1, sideWidth).concat(0, range(totalPages - sideWidth - 1 - rightWidth - leftWidth, totalPages));
            }

            return range(1, sideWidth).concat(0, range(page - leftWidth, page + rightWidth), 0, range(totalPages - sideWidth + 1, totalPages));


        }

        $(function(){
            var numberOfItems = $(".allItem .indiv").length;
            var limitPerPage = 3; //Items Per Page
            var totalPages = Math.ceil(numberOfItems / limitPerPage);
            var paginationSize = 7; //How many pages visible

            var currentPage;

            function showPage(whichPage){

                if(whichPage < 1 || whichPage > totalPages) return false;

                currentPage = whichPage;

                $(".allItem .indiv").hide().slice((currentPage - 1) * limitPerPage, currentPage * limitPerPage).show();

                $(".pagination li").slice(1,-1).remove();

                getPageList(totalPages, currentPage, paginationSize).forEach(item => {
                    $("<li>").addClass("page-item")
                        .addClass(item ? "current-page":"dots")
                        .toggleClass("active", item === currentPage)
                        .append($("<a>").addClass("page-link")
                        .attr({href: "javascript:void(0)"}).text(item || "...")).insertBefore(".next-page");
                });

                $(".previous-page").toggleClass("disable", currentPage === 1);

                $(".next-page").toggleClass("disable", currentPage === totalPages);

                return true;

            }

            $(".pagination").append(
                $("<li>").addClass("page-item")
                    .addClass("previous-page")
                    .append($("<a>").addClass("page-link")
                    .attr({href: "javascript:void(0)"}).text("Prev")),

                $("<li>").addClass("page-item")
                    .addClass("next-page")
                    .append($("<a>").addClass("page-link")
                    .attr({href: "javascript:void(0)"}).text("Next"))
            );

            $(".allItem").show();
            showPage(1);

            $(document).on("click", ".pagination li.current-page:not(.active)", function(){
                return showPage(+$(this).text());
            });

            $(".next-page").on("click", function(){
                return showPage(currentPage + 1);
            });

            $(".previous-page").on("click", function(){
                return showPage(currentPage - 1);
            });

        });

        //Check If there is a class indivs
        var isPer = document.querySelectorAll('.indiv');
        if (isPer.length >= 1) {
            document.getElementById('pagination').style.display = '';
        }
        else{
            document.getElementById('pagination').style.display = 'none';
        }

    </script>




</div>

<!--Making our work easier-->
<style>

    /* Color change */
    
    /* Icon */
    #Unverified {
        color: #DD4D4D;
    }
    
    .seInp input {
        border: 2px solid #DD4D4D;
        color: #DD4D4D;
    }
    
    .seInp input::placeholder {
        color: #DD4D4D;
        opacity: 0.5;
    }
    
    /* Icon Buuton */
    
    .seInp button {
        border: 2px solid #DD4D4D;
    }
    
    #ser {
        color: #DD4D4D;
    }
    
    /* Individual Content */
    
    .indiv {
        border: 2px solid #DD4D4D;
    
    }
    
    /* Icon info */
    
    .info {
        border: 2px solid #DD4D4D;
    }
    
    #info {
        color: #DD4D4D;
    }
    
    /* The Item Lables */
    
    .detail {
        border: 2px solid #DD4D4D;
    }
    
    .labIc h6 {
        color: #DD4D4D;
    }
    
    .infItm h3 {
        color: #DD4D4D;
    }
    
    #labIc {
        color: #DD4D4D;
    }
    
    .btView {
        background-color: #DD4D4D;
    }

     /* Pagination */
    
     .previous-page,.next-page {
        background-color: #DD4D4D;
    }
    
    .dots,.current-page {
        background-color: #f1a7a7;
    }
    
    .active {
        background-color: #DD4D4D;
    }
    
    .disable {
        background-color: #f1a7a7;
    }

    .refBtn {
        background-color: #DD4D4D;
    }

    /* Scroll */

    ::-webkit-scrollbar-track {
        background-color: #ffd1d1;
        border-radius: 30px;

    }

    ::-webkit-scrollbar-thumb {
        background-color: #DD4D4D;
        border-radius: 30px;
    }

    ::-webkit-scrollbar-thumb:hover {
        background-color: #DD4D4D;
    }



    
    </style>


{% endblock %}